---
regions:
  - eu-central-1
  - ap-southeast-2
api_key: <API_KEY>
api_secret: <API_SECRET>
tags:
  - name: Environment
    value: production
period_seconds: 300
range_seconds: 300
poll_interval: 60
log_level: 4
metrics:
  AWS/RDS:
      - metric: CPUCreditBalance
        dimensions: []
        statistics: [Average, Sum]
      - metric: WriteIOPS
        dimensions: []
        statistics: [Average, Sum]
  AWS/S3:
  AWS/NetworkELB:
  AWS/EC2:
