---
regions:
  - eu-central-1
  - ap-southeast-2
api_key: <API_KEY>
api_secret: <API_SECRET>
tags:
  - name: Environment
    value: production
period_seconds: 300
range_seconds: 300
poll_interval: 60
log_level: 4
metrics:
  AWS/RDS:
      - metric: CPUCreditBalance
      - metric: WriteIOPS
  AWS/S3:
      - metric: NumberOfObjects
        period_seconds: 86400
        range_seconds: 604800
        dimensions:
            - name: StorageType
              value: AllStorageTypes
      - metric: BucketSizeBytes
        period_seconds: 86400
        range_seconds: 604800
        dimensions:
            - name: StorageType
              value: StandardStorage
        statistics: [Average, Sum]
  AWS/NetworkELB:
  AWS/EC2:
